<div>
  <mat-form-field>
    <input matInput>
  <form name="input_data" >
  評価:
    <select name="point" class="select_box_style" id="select_box_point" [(ngModel)]="selectedPoint">
      <option value="1">1</option>
      <option value="1.5">1.5</option>
      <option value="2">2</option>
      <option value="2.5">2.5</option>
      <option value="3">3</option>
      <option value="3.5">3.5</option>
      <option value="4">4</option>
      <option value="4.5">4.5</option>
      <option value="5">5</option>
    </select>
    <button mat-flat-button (click)="searchPoint()">評価別</button>
  カテゴリ:
    <select name="Category" class="select_box_style" id="select_box_category" [(ngModel)]="selectedCategory">
      <option *ngFor="let category of categoryList" [value]="category.category">
        {{category.label}}
      </option>
    </select>
    <button mat-flat-button (click)="serchCategoryMovie()">カテゴリ別</button>

  </form>

  <form name="text_form" id="all_text_area">
    <div id="result_text_area">
      <h1 id="result_area" name="out_text" v-for="(value, key) in text">
      </h1>
    </div>
  </form>

  <movie-control (fetchSuccess)="setResult($event)"></movie-control>

  </mat-form-field>

</div>


<ng-container>
  <ul>
    <li *ngFor="let item of result">{{item.title}}</li>
  </ul>
</ng-container>
