<div fxLayout="column">
  <mat-form-field class="full-width">
    <mat-label>評価</mat-label>
    <mat-select [(ngModel)]="selectedPoint">
      <mat-option value="1">1</mat-option>
      <mat-option value="1.5">1.5</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="2.5">2.5</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="3.5">3.5</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="4.5">4.5</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-toolbar class="full-width">
    <button mat-flat-button (click)="searchPoint()">評価別</button>
  </mat-toolbar>

  <mat-form-field class="full-width">
    <mat-label> カテゴリ</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option *ngFor="let category of categoryList" [value]="category.category">{{category.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-toolbar class="full-width">
    <button mat-flat-button (click)="serchCategoryMovie()">カテゴリ別</button>
  </mat-toolbar>

  <movie-control (fetchSuccess)="setResult($event)" (calcDetail)="showDetail($event)"></movie-control>

</div>
